* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url(/images/bg-image\ 1.jpg);
  background-repeat: repeat;
  background-attachment: fixed;
}
img {
  width: 10%;
  margin-top: 20px;
}
.Create {
  padding: 10px;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 0;
  width: 60%;
  border: 3px solid black;
  background-color: black;
  border-radius: 8px;
}
.holders {
  font-size: 20px;
  color: white;
}
.fill {
  font-size: 12px;
  padding: 5px;
  width: 90%;
  border-radius: 5px;
}
.btn {
  background-color: red;
  color: white;
  margin: 10px;
  margin-left: 30%;
  padding: 7px;
  width: 35%;
  text-align: center;
}
